@model HelpDesk.Models.OcorrenciaModel

@{
    ViewData["Title"] = "Alterar";
}
    @{
        if ((bool)ViewData["Encontrada"]) // Ocorrência encontrada.
        {
            <form method="POST">
                <input name="input" type="hidden" value=1>
                <div class="form-group">
                    <!--<label>Id</label> -->
                    <input type="hidden" name = "Id" class="form-control" value = "@Model.Id" readonly/>
                </div>

                <div class="form-group">
                    <label>Numero</label>
                    <input name="Numero" type="number" class="form-control" value = "@Model.Numero" readonly
                </div>

                <div class="form-group">
                    <label>Aberto em:</label>
                    <input type="text" class="form-control" value = "@Model.DataDeRegistro" readonly />
                </div>

                <div class="form-group">
                    <label> Vencimento: </label>
                    <input type="text" class="form-control" value = "@Model.DataDeVencimento" readonly />
                </div>
                
                @if(@Model.Status != (Status) 0){
                <div class="form-group">
                    <label> Resolvida em: </label>
                    <input type="text" class="form-control" value = "@Model.DataDeEncerramento" readonly />
                </div>
                }
                <div class="form-group">
                    <label> Usuario: </label>
                    <input type="text" class="form-control" value = "@Model.Usuario.Login" readonly />
                </div>

                <div class="form-group">
                    <label> Setor: </label>
                    <input type="text" class="form-control" value = "@Model.Setor.Nome" readonly />
                </div>

                <div class="form-group">
                    <label> Categoria: </label>
                    <input type="text" class="form-control" value = "@Model.Categoria" readonly />
                </div>

                <div class="form-group">
                    <label>Status:</label>
                    <select name="Status" class="form-control">
                        <option>Pendente</option>
                        <option>Resolvida</option>
                        <option>Cancelada</option>
                    </select>
                </div>

                <div class="form-group">
                    <label> Nivel: </label>
                    <input name="Nivel" type="number" class="form-control" value = "@Model.Nivel" min="1" max="3" value = "@Model.Nivel"/>
                </div>
                
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#descricao">Descrição</a></li>
                    <li><a data-toggle="tab" href="#acompanhamentos">Adicionar acompanhamento</a></li>
                </ul>

                <div class="tab-content">
                    <div id="descricao" class="tab-pane fade in active">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" readonly > @Model.Descricao </textarea>
                        </div>
                    </div>
                            <div id="acompanhamentos" class="tab-pane fade">
                                <div class="form-group">
                                    <textarea name="acompanhamento" class="form-control" rows="6" >Coloque aqui a descrição</textarea>
                                </div>
                            </div>
                </div>

                <button type="submit" class="btn btn-primary">Gravar</button>

            </form>

        }
    else
    {
        
            @if ((bool)ViewData["MostrarErro"]) {
                <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Ocorrência</strong> não encontrada!
                </div>
            }
        
            <form>
                <input name="input" type="hidden" value=1>
                <div class="form-group">

                <div class="form-group">
                    <label>Numero</label>
                    <input name = "ocorrencia" type="number" class="form-control" required/>
                </div>

                <button type="submit" class="btn btn-primary">Buscar</button>

            </form>
        }

    }